<% if @current_user != nil %>

<h1><%= @place["name"] %></h1>

<h3>Posts by <%= @current_user["username"] %></h3>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-success">New Post</a>
</p>

<%end%>

<div class="row">
<% for entry in @entries %> 
<div class="col-md-4">
  <h4><%= entry["title"] %></h4>
  <p><%= entry["occurred_on"] %></p>
<%end%>
<%if post.uploaded_image.attached? %>
  <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
  <%end%>
  <p><%= entry["description"] %></p>
  </div>
<%end%>

<p>
  <a href="/places">Back to All Places</a>
</p>